<%- include("../includes/head.ejs", { pageTitle }) %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include("../includes/header.ejs") %>

    <main>
        Cart
    </main>
<%- include("../includes/end.ejs") %>